name: Test

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - "**" # matches every branch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: yarn
      - name: test
        run: yarn test
      - name: build
        run: SNOWPACK_PUBLIC_URL=/tailwind-react-ui yarn build
      - name: build package
        run: yarn buildpackage
